@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.paragraph {
  font-size: 1.7rem;
  line-height: 1.8;
}

.headingOne {
  font-size: 3.4rem;
  font-weight: 700;
  padding: 2rem 0rem;
}

.headingTwo {
  font-size: 2.2rem;
  padding: 2rem 0rem;
}

.headingThree {
  font-size: 1.2rem;
}

.headingFour {
  font-size: 2rem;
  padding: 2rem 0rem;
}

@media screen and (min-width: 768px) {
  .paragraph {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  .headingOne {
    font-size: 4.4rem;
    font-weight: 700;
    padding: 2rem 0rem;
  }
  .headingTwo {
    font-size: 3.1rem;
  }
  .headingThree {
    font-size: 1.4rem;
  }
  .headingFour {
    font-size: 2.3rem;
    padding: 2rem 0rem;
  }
}

@media screen and (min-width: 992px) {
  .paragraph {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  .headingOne {
    font-size: 6.5rem;
    font-weight: 700;
    padding: 2rem 0rem;
  }
  .headingTwo {
    font-size: 3.9rem;
  }
  .headingThree {
    font-size: 1.4rem;
  }
  .headingFour {
    font-size: 2.5rem;
    padding: 2rem 0rem;
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  overflow: hidden;
}

.header {
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem 2rem 0rem;
}

.header__wrapper {
  background-color: #F8F8F8;
}

.header__firstArticle {
  width: 100%;
  height: 100%;
}

.header__secoundArticle {
  width: 100%;
  height: 100%;
  padding: 5rem 2rem 0rem;
}

.header__image {
  position: relative;
  width: 100%;
  z-index: 1;
}

.header__headingOne {
  font-family: 'Mulish', sans-serif;
  z-index: 100;
}

.header__span {
  position: relative;
}

.header__span::before {
  position: absolute;
  content: '';
  top: 35%;
  height: 45%;
  width: 100%;
  background-color: #FDCE0C;
  z-index: -1;
}

.header__paragraph {
  color: #9C9C9C;
}

.header__button {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
  padding: 1rem 3rem;
  margin-top: 3rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__button:hover {
  background-color: #FDCE0C;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.header__button:hover::after {
  width: 100%;
  height: 100%;
}

.header__button:hover::before {
  width: 100%;
  height: 100%;
}

.header__button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-top: 2px solid #FDCE0C;
  border-left: 2px solid #FDCE0C;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__button::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid #FDCE0C;
  border-right: 2px solid #FDCE0C;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__decorationOne, .header__decorationTwo, .header__decorationThree, .header__decorationFour, .header__decorationFive {
  display: none;
}

.offer {
  width: 100vw;
  height: 100%;
  padding: 5rem 0rem;
}

.offer__firstArticle {
  margin-top: 3rem;
}

.offer__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 2rem 5rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
  -ms-scroll-snap-points-x: repeat(300px);
      scroll-snap-points-x: repeat(300px);
  -webkit-overflow-scrolling: touch;
}

.offer__slideBox {
  width: 85%;
  min-width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
  color: #9C9C9C;
  border-radius: 10px;
  padding: 5rem 2rem 2rem 2rem;
  margin-right: 2%;
  margin-left: 2%;
  -webkit-box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
          box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
}

.offer__iconBox {
  position: relative;
  margin: 1rem 0rem;
}

.offer__icon {
  position: relative;
  z-index: 100;
}

.offer__headingTwo {
  text-align: center;
  font-weight: 500;
  font-family: 'Mulish', sans-serif;
}

.offer__headingThree {
  text-align: center;
  text-transform: uppercase;
  color: #FDCE0C;
}

.offer__headingFour {
  font-weight: 500;
  font-family: 'Mulish', sans-serif;
  color: black;
}

.offer__span {
  padding: 0.5rem 2rem;
  border-radius: 50px;
  background-color: rgba(253, 206, 12, 0.15);
}

.offer__patternsPlus {
  display: none;
}

.offer__decorationPlus {
  display: none;
}

.offer__largeCircle {
  position: absolute;
  top: -40%;
  left: -50%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(253, 206, 12, 0.1);
  z-index: 1;
}

.offer__largeCircle--web {
  top: -40%;
  left: -50%;
  -webkit-animation: offerLargeCircleWeb 1.5s linear alternate infinite;
          animation: offerLargeCircleWeb 1.5s linear alternate infinite;
}

.offer__largeCircle--mobile {
  top: -40%;
  left: -50%;
  -webkit-animation: offerLargeCircleMobile 2.5s linear alternate infinite;
          animation: offerLargeCircleMobile 2.5s linear alternate infinite;
}

.offer__largeCircle--design {
  top: 0%;
  left: 20%;
  -webkit-animation: offerLargeCircleDesign 1.5s linear alternate infinite;
          animation: offerLargeCircleDesign 1.5s linear alternate infinite;
}

.offer__largeCircle--code {
  top: -20%;
  left: 20%;
  -webkit-animation: offerLargeCircleCode 1.5s linear alternate infinite;
          animation: offerLargeCircleCode 1.5s linear alternate infinite;
}

.offer__smallCircle {
  position: absolute;
  top: 70%;
  left: 80%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f3f1f1;
  z-index: 1;
}

.offer__smallCircle--web {
  top: 70%;
  left: 80%;
  -webkit-animation: offerSmallCircleWeb 1.5s linear alternate infinite;
          animation: offerSmallCircleWeb 1.5s linear alternate infinite;
}

.offer__smallCircle--mobile {
  top: -50%;
  -webkit-animation: offerSmallCircleMobile 2.5s linear alternate infinite;
          animation: offerSmallCircleMobile 2.5s linear alternate infinite;
}

.offer__smallCircle--design {
  top: -40%;
  left: -30%;
  -webkit-animation: offerSmallCircleDesign 1.5s linear alternate infinite;
          animation: offerSmallCircleDesign 1.5s linear alternate infinite;
}

.offer__smallCircle--code {
  top: 80%;
  left: -30%;
  -webkit-animation: offerSmallCircleCode 1.5s linear alternate infinite;
          animation: offerSmallCircleCode 1.5s linear alternate infinite;
}

.information {
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem 2rem 0rem;
}

.information--secound {
  padding: 0rem 2rem 5rem;
}

.information__wrapper {
  background-color: #F8F8F8;
}

.information__firstArticle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.information__firstArticle--secound {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.information__secoundArticle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 8rem 2rem 5rem;
}

.information__secoundArticle--secound {
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.information__iconQuoteBox {
  margin-right: 2rem;
}

.information__headingBox, .information__quoteBox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information__paragraphBox {
  margin-bottom: 5rem;
}

.information__paragraphBox--secound {
  margin-bottom: 2rem;
}

.information__imagePhoneOne {
  max-width: 50vw;
  height: 50vh;
  position: relative;
  left: 10%;
  cursor: pointer;
  z-index: 2;
}

.information__imagePhoneTwo {
  max-width: 50vw;
  height: 40vh;
  position: relative;
  right: 10%;
  cursor: pointer;
  z-index: 1;
}

.information__active {
  max-width: 50vw;
  height: 50vh;
  z-index: 100;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.information__passive {
  max-width: 50vw;
  height: 40vh;
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.information__headingTwo {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  padding-left: 2rem;
}

.information__paragrapGrayColor {
  color: #9C9C9C;
}

.information__button {
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 50px;
  background-color: #FDCE0C;
  margin-top: 2rem;
  padding: 1.5rem 3.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.information__button:hover {
  background-color: black;
}

.information__unorderList {
  color: #FDCE0C;
  padding-left: 2rem;
  margin-top: 2rem;
}

.information__unorderListParagraph {
  color: black;
}

.information__linkBorder {
  position: absolute;
  top: -17.5%;
  left: 0;
  width: 100%;
  height: 1px;
  background: radial-gradient(circle, #FDCE0C 0%, rgba(214, 223, 235, 0) 100%);
}

.information__linkBorder--bottom {
  top: 117.5%;
  left: 0;
}

.information__patternDecoration {
  display: none;
}

.information__aDecoration {
  display: none;
}

.pricing {
  max-width: 1300px;
  width: 100vw;
  height: 100%;
  padding: 10rem 0rem 5rem;
}

.pricing__firstArticle {
  padding: 0rem 2rem;
}

.pricing__secoundArticle {
  margin-top: 5rem;
  position: relative;
}

.pricing__arrowRight {
  position: absolute;
  top: 50%;
  left: 85%;
  font-size: 2rem;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
          box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
}

.pricing__arrowLeft {
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 2rem;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
          box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
}

.pricing__SVG {
  width: 20px;
  height: 20px;
}

.pricing__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pricing__box {
  width: 80vw;
  min-width: 80vw;
  border-radius: 10px;
  border-top: 10px solid #FDCE0C;
  padding: 3rem 2rem;
  margin: 0rem 10vw;
  -webkit-box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
          box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
}

.pricing__box--black {
  border-top: 10px solid black;
}

.pricing__boxBody {
  margin-top: 3rem;
}

.pricing__boxHeader {
  position: relative;
}

.pricing__headingTwo {
  text-align: center;
  font-weight: 500;
  font-family: 'Mulish', sans-serif;
}

.pricing__headingThree {
  color: #FDCE0C;
  text-transform: uppercase;
  text-align: center;
}

.pricing__paragraph {
  color: #9C9C9C;
  text-align: center;
}

.pricing__paragraphYellow {
  color: #FDCE0C;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Mulish', sans-serif;
}

.pricing__paragraphPrice {
  text-align: center;
  font-size: 2.2rem;
}

.pricing__span {
  border-radius: 50px;
  background-color: rgba(253, 206, 12, 0.15);
  padding: 0.5rem 2rem;
}

.pricing__spanPrice {
  font-size: 4.5rem;
}

.pricing__buttonSpan {
  padding-left: 5px;
}

.pricing__button {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.4rem;
  font-weight: bold;
  color: #9C9C9C;
  border: 2px solid rgba(156, 156, 156, 0.2);
  border-radius: 50px;
  background: none;
  padding: 1rem 2rem;
  margin-top: 2rem;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pricing__button:hover {
  background-color: #FDCE0C;
  border: 2px solid #FDCE0C;
  color: white;
}

.pricing__button--yellow {
  background-color: #FDCE0C;
  border: 2px solid #FDCE0C;
  color: white;
  -webkit-box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
          box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
}

.pricing__button--yellow:hover {
  background-color: black;
  border: 2px solid black;
}

.pricing__listElement {
  margin: 1rem 0rem;
}

.pricing__unorderList {
  color: #FDCE0C;
  padding-left: 5rem;
}

.pricing__unorderListParagraph {
  color: black;
}

.pricing__unorderListElementGray {
  color: #9C9C9C;
}

.pricing__linkBorder {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: radial-gradient(circle, #FDCE0C 0%, rgba(214, 223, 235, 0) 100%);
}

.pricing__plusDecoration {
  display: none;
}

.pricing__patternsDecoration {
  display: none;
}

.question {
  position: relative;
  padding: 10rem 2rem 5rem;
}

.question__wrapper {
  position: relative;
  background-color: #F8F8F8;
}

.question__accordion {
  width: 100%;
}

.question__item {
  width: 100%;
  border: 1px solid rgba(156, 156, 156, 0.3);
  border-radius: 10px;
  padding: 2rem 4rem;
  margin-bottom: 2rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.question__item:hover {
  background-color: white;
  -webkit-box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
          box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
}

.question__itemHeader {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.question__itemHeader::after {
  content: "\002B";
  position: absolute;
  right: 1rem;
  width: 28px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 2rem;
  border-radius: 50%;
  background-color: #FDCE0C;
}

.question__itemBody {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
}

.question__itemBodyContent {
  margin-top: 2rem;
}

.question__headingTwo {
  text-align: center;
  font-weight: 500;
  font-family: 'Mulish', sans-serif;
}

.question__headingThree {
  color: #FDCE0C;
  text-transform: uppercase;
  text-align: center;
}

.question__paragraphHeader {
  width: 80%;
}

.question__paragraphPrice {
  text-align: center;
  font-size: 2.2rem;
}

.question__span {
  border-radius: 50px;
  background-color: rgba(253, 206, 12, 0.15);
  padding: 0.5rem 2rem;
}

.question__qDecoration {
  display: none;
}

.question__plusDecoration {
  display: none;
}

.question__itemHeader.active::after {
  content: "\2212";
}

.about {
  padding: 10rem 2rem 5rem;
}

.about__firstArticle {
  text-align: center;
  margin-bottom: 5rem;
}

.about__secoundArticle {
  margin-top: 2rem;
}

.about__box {
  width: 80%;
  margin: 0 20% 2rem;
  padding: 2rem 0rem;
  border-bottom: 1px solid rgba(156, 156, 156, 0.2);
  position: relative;
}

.about__box::after {
  content: '';
  position: absolute;
  top: 0;
  left: -15%;
  border-left: 1px solid rgba(156, 156, 156, 0.2);
  height: 115%;
}

.about__headingTwo {
  font-weight: 500;
  font-family: 'Mulish', sans-serif;
}

.about__headingThree {
  color: #FDCE0C;
  text-transform: uppercase;
}

.about__paragraph {
  color: #9C9C9C;
}

.about__paragraphStory {
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #9C9C9C;
}

.about__paragraphTitle {
  position: relative;
}

.about__paragraphTitle::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10%;
  left: -18%;
  border-radius: 50%;
  background-color: #FDCE0C;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 20px 0px #FDCE0C;
          box-shadow: 0px 0px 20px 0px #FDCE0C;
}

.about__span {
  border-radius: 50px;
  background-color: rgba(253, 206, 12, 0.15);
  padding: 0.5rem 2rem;
}

.about__spanColor {
  color: #FDCE0C;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem 2rem;
}

.contact__secoundArticle {
  width: 100%;
}

.contact__map {
  width: 100%;
}

.contact__office {
  margin: 2rem 0rem;
}

.contact__headingTwo {
  font-family: 'Mulish', sans-serif;
  font-size: 3rem;
  font-weight: 400;
}

.contact__icon {
  font-size: 2.2rem;
  color: #FDCE0C;
  padding-right: 3rem;
}

.footer {
  padding: 2rem 2rem;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
}

@media screen and (min-width: 767px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__firstArticle {
    position: relative;
  }
  .header__secoundArticle {
    position: relative;
  }
  .header__secoundArticle::after {
    content: "";
    position: absolute;
    top: -10.5%;
    left: 35%;
    width: 65%;
    height: 110%;
    background-color: #FDCE0C;
  }
  .header__decorationOne {
    position: absolute;
    top: 110%;
    left: 62.5%;
    display: block;
  }
  .offer__slideBox {
    width: 45%;
    min-width: 45%;
    margin-right: 2.5%;
    margin-left: 2.5%;
  }
  .information {
    width: 100vw;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 5rem 2rem;
  }
  .information__firstArticle {
    width: 60%;
  }
  .information__firstArticle--secound {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .information__secoundArticle {
    width: 40%;
    padding: 5rem 2rem;
  }
  .information__secoundArticle--secound {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .information__imagePhoneOne {
    width: 160px;
    height: 350px;
    position: relative;
    left: 10%;
    z-index: 2;
  }
  .information__imagePhoneTwo {
    width: 160px;
    height: 310px;
    position: relative;
    right: 10%;
    z-index: 1;
  }
  .information__active {
    max-width: 160px;
    height: 350px;
    z-index: 100;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .information__passive {
    max-width: 120px;
    height: 310px;
    z-index: 10;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .pricing__box {
    width: 45vw;
    min-width: 45vw;
    margin: 0rem 2rem;
  }
  .pricing__spanPrice {
    font-size: 5rem;
  }
  .pricing__arrowRight {
    top: 101%;
    left: 52.5%;
  }
  .pricing__arrowLeft {
    top: 101%;
    left: 42.5%;
  }
  .question {
    margin: 0 auto;
    max-width: 1200px;
  }
  .question__item {
    width: 80%;
    margin: 0 auto 2rem;
  }
  .about__paragraph {
    width: 80%;
    margin: 0 auto;
  }
  .about__paragraphTitle::before {
    left: -16.75%;
  }
  .contact {
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
  }
  .contact__firstArticle {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact__secoundArticle {
    width: 50%;
  }
  .contact__paragraph {
    width: 80%;
  }
  .contact__headingTwo {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1025px) {
  .header {
    position: relative;
    max-width: 1300px;
    height: 90vh;
    margin: 0 auto;
  }
  .header__firstArticle {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__secoundArticle {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__secoundArticle::after {
    top: -10.5%;
    left: 17%;
    width: 75%;
    height: 110%;
  }
  .header__image {
    width: 450px;
    height: 720px;
  }
  .header__decorationOne {
    top: 82.5%;
    left: 70%;
    display: block;
  }
  .header__decorationTwo {
    position: absolute;
    top: 20%;
    left: 100%;
    display: block;
  }
  .header__decorationThree {
    position: absolute;
    top: 10%;
    left: -10%;
    display: block;
    -webkit-animation: headerBDecorationMove 5s linear alternate infinite;
            animation: headerBDecorationMove 5s linear alternate infinite;
  }
  .header__decorationFour {
    position: absolute;
    top: 70%;
    left: -21%;
    display: block;
    -webkit-animation: headerSDecorationMove 5s linear alternate infinite;
            animation: headerSDecorationMove 5s linear alternate infinite;
  }
  .header__decorationFive {
    position: absolute;
    top: 70%;
    left: 108%;
    display: block;
    -webkit-animation: headerDDecorationMove 5s linear alternate infinite;
            animation: headerDDecorationMove 5s linear alternate infinite;
  }
  .offer {
    position: relative;
    max-width: 1300px;
    padding: 10rem 0rem 5rem;
    margin: 0 auto;
  }
  .offer__slideBox {
    width: 23%;
    min-width: 23%;
    margin-right: 1%;
    margin-left: 1%;
    padding: 5rem 2rem;
  }
  .offer__decorationPlus {
    display: block;
    position: absolute;
    top: 25%;
    left: -5%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .offer__patternsPlus {
    display: block;
    position: absolute;
    top: 80%;
    left: 107.5%;
  }
  .information {
    width: 1300px;
    margin: 0 auto;
  }
  .information__firstArticle {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .information__secoundArticle {
    width: 60%;
    padding: 5rem 2rem;
  }
  .information__secoundArticle--secound {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .information__imagePhoneOne {
    position: relative;
    left: 10%;
    width: 260px;
    height: 520px;
    z-index: 2;
  }
  .information__imagePhoneTwo {
    width: 260px;
    height: 460px;
    position: relative;
    right: 0%;
    z-index: 1;
  }
  .information__active {
    max-width: 260px;
    height: 520px;
    z-index: 100;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .information__passive {
    max-width: 220px;
    height: 460px;
    z-index: 10;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .information__paragrapGrayColor {
    width: 80%;
  }
  .information__paragrapGrayColor--marginLeft {
    margin-left: 10%;
  }
  .information__paragrapGrayColor {
    color: #9C9C9C;
  }
  .information__paragrapGrayColor--paddingLeft {
    padding-left: 2rem;
  }
  .information__paragrapGrayColor--paddingLeftSecound {
    padding-left: 6rem;
  }
  .information__button {
    margin-left: 5.5rem;
  }
  .information__unorderList {
    padding-left: 7.5rem;
  }
  .information__patternDecoration {
    display: block;
    position: absolute;
    top: 50%;
    left: -40.5%;
  }
  .information__aDecoration {
    display: block;
    position: absolute;
    top: 160%;
    left: 220%;
    -webkit-animation: headerADecorationMove 5s linear alternate infinite;
            animation: headerADecorationMove 5s linear alternate infinite;
  }
  .pricing {
    margin: 0 auto;
    position: relative;
  }
  .pricing__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pricing__box {
    width: 26%;
    min-width: 26%;
    padding: 5rem 2rem;
  }
  .pricing__box--black {
    margin-bottom: 10rem;
    height: 140%;
  }
  .pricing__paragraph {
    max-width: 60%;
    margin: 0 auto;
  }
  .pricing__paragraphYellow {
    font-size: 2.2rem;
  }
  .pricing__paragraphPrice {
    font-size: 3rem;
  }
  .pricing__spanPrice {
    font-size: 5.5rem;
  }
  .pricing__plusDecoration {
    display: block;
    position: absolute;
    top: 20%;
    left: -5%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .pricing__patternsDecoration {
    display: block;
    position: absolute;
    top: 85%;
    left: 102%;
  }
  .pricing__arrowRight, .pricing__arrowLeft {
    display: none;
  }
  .question__accordion {
    width: 1300px;
    margin: 2rem auto 0rem;
  }
  .question__item {
    display: inline-block;
    width: 41%;
    margin: 0rem 2.5rem 2rem;
  }
  .question__qDecoration {
    position: absolute;
    top: 15%;
    left: -15%;
    display: block;
    -webkit-animation: headerQDecorationMove 5s linear alternate infinite;
            animation: headerQDecorationMove 5s linear alternate infinite;
  }
  .question__plusDecoration {
    position: absolute;
    top: 85%;
    left: 105%;
    display: block;
  }
  .about {
    padding: 10rem 2rem 5rem;
    width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about__firstArticle {
    width: 50%;
    text-align: left;
  }
  .about__secoundArticle {
    width: 58%;
  }
  .about__box {
    width: 78%;
  }
  .about__box::after {
    content: '';
    position: absolute;
    top: -80%;
    left: -14.75%;
    height: 220%;
    z-index: -1;
  }
  .about__paragraphTitle {
    font-size: 2.6rem;
  }
  .about__paragraphTitle::before {
    top: 25%;
    left: -16.74%;
  }
  .about__paragraphStory {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  .about__paragraph {
    width: 100%;
  }
  .statistic__paragraph {
    font-size: 6rem;
  }
  .contact__headingTwo {
    font-size: 6rem;
  }
}

@-webkit-keyframes offerLargeCircleCode {
  0% {
    top: -20%;
    left: 20%;
  }
  100% {
    top: -5%;
    left: -10%;
  }
}

@keyframes offerLargeCircleCode {
  0% {
    top: -20%;
    left: 20%;
  }
  100% {
    top: -5%;
    left: -10%;
  }
}

@-webkit-keyframes offerSmallCircleCode {
  0% {
    top: 80%;
    left: -30%;
  }
  100% {
    top: 70%;
    left: -20%;
  }
}

@keyframes offerSmallCircleCode {
  0% {
    top: 80%;
    left: -30%;
  }
  100% {
    top: 70%;
    left: -20%;
  }
}

@-webkit-keyframes offerLargeCircleDesign {
  0% {
    top: 0%;
    left: 20%;
  }
  100% {
    top: 20%;
    left: 40%;
  }
}

@keyframes offerLargeCircleDesign {
  0% {
    top: 0%;
    left: 20%;
  }
  100% {
    top: 20%;
    left: 40%;
  }
}

@-webkit-keyframes offerSmallCircleDesign {
  0% {
    top: -40%;
    left: -30%;
  }
  100% {
    top: -50%;
    left: -40%;
  }
}

@keyframes offerSmallCircleDesign {
  0% {
    top: -40%;
    left: -30%;
  }
  100% {
    top: -50%;
    left: -40%;
  }
}

@-webkit-keyframes offerSmallCircleMobile {
  0% {
    top: -50%;
    left: 80%;
  }
  100% {
    top: -70%;
    left: 60%;
  }
}

@keyframes offerSmallCircleMobile {
  0% {
    top: -50%;
    left: 80%;
  }
  100% {
    top: -70%;
    left: 60%;
  }
}

@-webkit-keyframes offerLargeCircleMobile {
  0% {
    top: -40%;
    left: -50%;
  }
  100% {
    top: 0%;
    left: 0%;
  }
}

@keyframes offerLargeCircleMobile {
  0% {
    top: -40%;
    left: -50%;
  }
  100% {
    top: 0%;
    left: 0%;
  }
}

@-webkit-keyframes offerLargeCircleWeb {
  0% {
    top: -40%;
    left: -50%;
  }
  100% {
    top: -25%;
    left: -20%;
  }
}

@keyframes offerLargeCircleWeb {
  0% {
    top: -40%;
    left: -50%;
  }
  100% {
    top: -25%;
    left: -20%;
  }
}

@-webkit-keyframes offerSmallCircleWeb {
  0% {
    top: 70%;
    left: 80%;
  }
  100% {
    top: 60%;
    left: 70%;
  }
}

@keyframes offerSmallCircleWeb {
  0% {
    top: 70%;
    left: 80%;
  }
  100% {
    top: 60%;
    left: 70%;
  }
}

@-webkit-keyframes headerBDecorationMove {
  0% {
    top: 10%;
    left: -10%;
  }
  10% {
    top: 11%;
    left: -10%;
  }
  20% {
    top: 12%;
    left: -10%;
  }
  30% {
    top: 13%;
    left: -10%;
  }
  40% {
    top: 14%;
    left: -10%;
  }
  50% {
    top: 15%;
    left: -10%;
  }
  60% {
    top: 14%;
    left: -10%;
  }
  70% {
    top: 13%;
    left: -10%;
  }
  80% {
    top: 12%;
    left: -10%;
  }
  90% {
    top: 11%;
    left: -10%;
  }
  100% {
    top: 10%;
    left: -10%;
  }
}

@keyframes headerBDecorationMove {
  0% {
    top: 10%;
    left: -10%;
  }
  10% {
    top: 11%;
    left: -10%;
  }
  20% {
    top: 12%;
    left: -10%;
  }
  30% {
    top: 13%;
    left: -10%;
  }
  40% {
    top: 14%;
    left: -10%;
  }
  50% {
    top: 15%;
    left: -10%;
  }
  60% {
    top: 14%;
    left: -10%;
  }
  70% {
    top: 13%;
    left: -10%;
  }
  80% {
    top: 12%;
    left: -10%;
  }
  90% {
    top: 11%;
    left: -10%;
  }
  100% {
    top: 10%;
    left: -10%;
  }
}

@-webkit-keyframes headerSDecorationMove {
  0% {
    top: 70%;
    left: -21%;
  }
  10% {
    top: 69%;
    left: -21%;
  }
  20% {
    top: 68%;
    left: -21%;
  }
  30% {
    top: 69%;
    left: -21%;
  }
  40% {
    top: 70%;
    left: -21%;
  }
  50% {
    top: 71%;
    left: -21%;
  }
  60% {
    top: 72%;
    left: -21%;
  }
  70% {
    top: 73%;
    left: -21%;
  }
  80% {
    top: 72%;
    left: -21%;
  }
  90% {
    top: 71%;
    left: -21%;
  }
  100% {
    top: 70%;
    left: -21%;
  }
}

@keyframes headerSDecorationMove {
  0% {
    top: 70%;
    left: -21%;
  }
  10% {
    top: 69%;
    left: -21%;
  }
  20% {
    top: 68%;
    left: -21%;
  }
  30% {
    top: 69%;
    left: -21%;
  }
  40% {
    top: 70%;
    left: -21%;
  }
  50% {
    top: 71%;
    left: -21%;
  }
  60% {
    top: 72%;
    left: -21%;
  }
  70% {
    top: 73%;
    left: -21%;
  }
  80% {
    top: 72%;
    left: -21%;
  }
  90% {
    top: 71%;
    left: -21%;
  }
  100% {
    top: 70%;
    left: -21%;
  }
}

@-webkit-keyframes headerDDecorationMove {
  0% {
    top: 70%;
    left: 108%;
  }
  10% {
    top: 69%;
    left: 108%;
  }
  20% {
    top: 68%;
    left: 108%;
  }
  30% {
    top: 69%;
    left: 108%;
  }
  40% {
    top: 70%;
    left: 108%;
  }
  50% {
    top: 71%;
    left: 108%;
  }
  60% {
    top: 72%;
    left: 108%;
  }
  70% {
    top: 73%;
    left: 108%;
  }
  80% {
    top: 72%;
    left: 108%;
  }
  90% {
    top: 71%;
    left: 108%;
  }
  100% {
    top: 70%;
    left: 108%;
  }
}

@keyframes headerDDecorationMove {
  0% {
    top: 70%;
    left: 108%;
  }
  10% {
    top: 69%;
    left: 108%;
  }
  20% {
    top: 68%;
    left: 108%;
  }
  30% {
    top: 69%;
    left: 108%;
  }
  40% {
    top: 70%;
    left: 108%;
  }
  50% {
    top: 71%;
    left: 108%;
  }
  60% {
    top: 72%;
    left: 108%;
  }
  70% {
    top: 73%;
    left: 108%;
  }
  80% {
    top: 72%;
    left: 108%;
  }
  90% {
    top: 71%;
    left: 108%;
  }
  100% {
    top: 70%;
    left: 108%;
  }
}

@-webkit-keyframes headerADecorationMove {
  0% {
    top: 160%;
    left: 220%;
  }
  10% {
    top: 159%;
    left: 220%;
  }
  20% {
    top: 158%;
    left: 220%;
  }
  30% {
    top: 159%;
    left: 220%;
  }
  40% {
    top: 160%;
    left: 220%;
  }
  50% {
    top: 161%;
    left: 220%;
  }
  60% {
    top: 162%;
    left: 220%;
  }
  70% {
    top: 163%;
    left: 220%;
  }
  80% {
    top: 162%;
    left: 220%;
  }
  90% {
    top: 161%;
    left: 220%;
  }
  100% {
    top: 160%;
    left: 220%;
  }
}

@keyframes headerADecorationMove {
  0% {
    top: 160%;
    left: 220%;
  }
  10% {
    top: 159%;
    left: 220%;
  }
  20% {
    top: 158%;
    left: 220%;
  }
  30% {
    top: 159%;
    left: 220%;
  }
  40% {
    top: 160%;
    left: 220%;
  }
  50% {
    top: 161%;
    left: 220%;
  }
  60% {
    top: 162%;
    left: 220%;
  }
  70% {
    top: 163%;
    left: 220%;
  }
  80% {
    top: 162%;
    left: 220%;
  }
  90% {
    top: 161%;
    left: 220%;
  }
  100% {
    top: 160%;
    left: 220%;
  }
}

@-webkit-keyframes headerQDecorationMove {
  0% {
    top: 15%;
    left: -15%;
  }
  10% {
    top: 14%;
    left: -15%;
  }
  20% {
    top: 13%;
    left: -15%;
  }
  30% {
    top: 14%;
    left: -15%;
  }
  40% {
    top: 15%;
    left: -15%;
  }
  50% {
    top: 16%;
    left: -15%;
  }
  60% {
    top: 17%;
    left: -15%;
  }
  70% {
    top: 18%;
    left: -15%;
  }
  80% {
    top: 17%;
    left: -15%;
  }
  90% {
    top: 16%;
    left: -15%;
  }
  100% {
    top: 15%;
    left: -15%;
  }
}

@keyframes headerQDecorationMove {
  0% {
    top: 15%;
    left: -15%;
  }
  10% {
    top: 14%;
    left: -15%;
  }
  20% {
    top: 13%;
    left: -15%;
  }
  30% {
    top: 14%;
    left: -15%;
  }
  40% {
    top: 15%;
    left: -15%;
  }
  50% {
    top: 16%;
    left: -15%;
  }
  60% {
    top: 17%;
    left: -15%;
  }
  70% {
    top: 18%;
    left: -15%;
  }
  80% {
    top: 17%;
    left: -15%;
  }
  90% {
    top: 16%;
    left: -15%;
  }
  100% {
    top: 15%;
    left: -15%;
  }
}
/*# sourceMappingURL=main.css.map */