@media screen and ( min-width: 992px )
    .header
        height: 90vh
        max-width: 1300px
        margin: 0 auto
        position: relative

        &__firstArticle
            height: 100%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: flex-start

        

        &__decorationOne
            top: 82.5%
            left: 70%

        &__decorationTwo
            position: absolute
            top: 20%
            left: 100%

        &__decorationThree
            position: absolute
            top: 10%
            left: -10%

        &__decorationFour
            position: absolute
            top: 70%
            left: -21%

        &__decorationFive
            position: absolute
            top: 70%
            left: 108%
        
        &__secoundArticle
            height: 100%
            display: flex
            flex-direction: column
            justify-content: flex-end

            &::after
                top: -10.5%
                left: 17%
                height: 110%
                width: 75%

        &__image
            width: 450px
            height: 720px
