@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "./_fonts"
@import "./_colors"


*,
::after,
::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    scroll-behavior: smooth
    font-family: 'Open Sans', sans-serif
    // font-family: 'Mulish', sans-serif

.wrapper
    overflow: hidden

.header
    width: 100vw
    height: 100%
    display: flex
    flex-direction: column
    padding: 5rem 2rem 0rem

    &__wrapper
        background-color: $background

    &__firstArticle
        width: 100%
        height: 100%

    &__secoundArticle
        width: 100%
        height: 100%
        padding: 5rem 2rem 0rem

    &__image
        position: relative
        width: 100%
        z-index: 1

    &__headingOne
        font-family: 'Mulish', sans-serif
        z-index: 100

    &__span
        position: relative

    &__span::before
        position: absolute
        content: ''
        top: 35%
        height: 45%
        width: 100%
        background-color: $yellow
        z-index: -1

    &__paragraph
        color: $gray

    &__button
        position: relative
        display: inline-block
        font-size: 1.5rem
        letter-spacing: 2px
        text-decoration: none
        color: black
        padding: 1rem 3rem
        margin-top: 3rem
        transition: 0.5s

        &:hover
            background-color: $yellow
            transition-delay: 0.4s

        &:hover::after
            width: 100%
            height: 100%

        &:hover::before
            width: 100%
            height: 100%

        &::after
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 15px
            height: 15px
            border-top: 2px solid $yellow
            border-left: 2px solid $yellow
            transition: 0.5s

        &::before
            content: ''
            position: absolute
            bottom: 0
            right: 0
            width: 15px
            height: 15px
            border-bottom: 2px solid $yellow
            border-right: 2px solid $yellow
            transition: 0.5s

    &__decorationOne,
    &__decorationTwo,
    &__decorationThree,
    &__decorationFour,
    &__decorationFive,
        display: none

.offer
    width: 100vw
    height: 100%
    padding: 5rem 0rem

    &__firstArticle
        margin-top: 3rem

    &__slider
        display: flex
        padding: 0rem 2rem 5rem
        overflow-x: auto
        scroll-behavior: smooth
        scroll-snap-type: mandatory
        scroll-snap-points-x: repeat(300px)
        -webkit-overflow-scrolling: touch

    &__slideBox
        width: 85%
        min-width: 85%
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        align-items: center
        flex-shrink: 0
        text-align: center
        color: $gray
        border-radius: 10px
        padding: 5rem 2rem 2rem 2rem
        margin-right: 2%
        margin-left: 2%
        box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1)

    &__iconBox
        position: relative
        margin: 1rem 0rem

    &__icon
        position: relative
        z-index: 100

    &__headingTwo
        text-align: center
        font-weight: 500
        font-family: 'Mulish', sans-serif
   
    &__headingThree
        text-align: center
        text-transform: uppercase
        color: $yellow

    &__headingFour
        font-weight: 500
        font-family: 'Mulish', sans-serif
        color: black
  
    &__span
        padding: 0.5rem 2rem
        border-radius: 50px
        background-color: rgba(253, 206, 12, 0.15)

    &__patternsPlus
        display: none

    &__decorationPlus
        display: none

    &__largeCircle
        position: absolute
        top: -40%
        left: -50%
        width: 80px
        height: 80px
        border-radius: 50%
        background-color: rgba(253, 206, 12, 0.1)
        z-index: 1

        &--web
            top: -40%
            left: -50%
            animation: offerLargeCircleWeb 1.5s linear alternate infinite

        &--mobile
            top: -40%
            left: -50%
            animation: offerLargeCircleMobile 2.5s linear alternate infinite

        &--design
            top: 0%
            left: 20%
            animation: offerLargeCircleDesign 1.5s linear alternate infinite

        &--code
            top: -20%
            left: 20%
            animation: offerLargeCircleCode 1.5s linear alternate infinite

    &__smallCircle
        position: absolute
        top: 70%
        left: 80%
        width: 30px
        height: 30px
        border-radius: 50%
        background-color: #f3f1f1
        z-index: 1

        &--web
            top: 70%
            left: 80%
            animation: offerSmallCircleWeb 1.5s linear alternate infinite

        &--mobile
            top: -50%
            animation: offerSmallCircleMobile 2.5s linear alternate infinite

        &--design
            top: -40%
            left: -30%
            animation: offerSmallCircleDesign 1.5s linear alternate infinite

        &--code
            top: 80%
            left: -30% 
            animation: offerSmallCircleCode 1.5s linear alternate infinite

.information
    width: 100vw
    height: 100%
    display: flex
    flex-direction: column
    padding: 5rem 2rem 0rem

    &--secound
        padding: 0rem 2rem 5rem


    &__wrapper
        background-color: $background

    &__firstArticle
        position: relative
        display: flex
        flex-direction: column

        &--secound
            order: 0

    &__secoundArticle
        position: relative  
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        align-content: center
        padding: 8rem 2rem 5rem

        &--secound
            position: relative
            order: 1

    &__iconQuoteBox
        margin-right: 2rem

    &__headingBox,
    &__quoteBox
        position: relative
        display: flex
        justify-content: center
        align-content: center
        align-items: center

    &__paragraphBox
        margin-bottom: 5rem

        &--secound
            margin-bottom: 2rem

    &__imagePhoneOne
        max-width: 50vw
        height: 50vh
        position: relative
        left: 10%
        cursor: pointer
        z-index: 2

    &__imagePhoneTwo
        max-width: 50vw
        height: 40vh
        position: relative
        right: 10%
        cursor: pointer
        z-index: 1

    &__active
        max-width: 50vw
        height: 50vh
        z-index: 100
        transition: 0.5s

    &__passive
        max-width: 50vw
        height: 40vh
        z-index: 10
        transition: 0.5s

    &__headingTwo
        font-family: 'Mulish', sans-serif
        font-weight: 600
        padding-left: 2rem

    &__paragrapGrayColor
        color: $gray

    &__button
        font-size: 1.6rem
        font-weight: bold
        color: white
        border: none
        border-radius: 50px
        background-color: $yellow
        margin-top: 2rem
        padding: 1.5rem 3.5rem
        transition: 0.5s

        &:hover
            background-color: black

    &__unorderList
        color: $yellow
        padding-left: 2rem
        margin-top: 2rem

    &__unorderListParagraph
        color: black

    &__linkBorder
        position: absolute
        top: -17.5%
        left: 0
        width: 100%
        height: 1px
        background: radial-gradient(circle, $yellow 0%, rgba(214, 223, 235, 0) 100%)

        &--bottom
            top: 117.5%
            left: 0

    &__patternDecoration
        display: none

    &__aDecoration
        display: none
 
.pricing
    max-width: 1300px
    width: 100vw
    height: 100%
    padding: 10rem 0rem 5rem

    &__firstArticle
        padding: 0rem 2rem

    &__secoundArticle
        margin-top: 5rem
        position: relative

    &__arrowRight
        position: absolute
        top: 50%
        left: 85%
        font-size: 2rem
        background-color: white
        border-radius: 50%
        width: 40px
        height: 40px
        text-align: center
        display: flex
        justify-content: center
        align-content: center
        align-items: center
        box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1)

    &__arrowLeft
        position: absolute
        top: 50%
        left: 5%
        font-size: 2rem
        background-color: white
        border-radius: 50%
        width: 40px
        height: 40px
        text-align: center
        display: flex
        justify-content: center
        align-content: center
        align-items: center
        box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1)

    &__SVG
        width: 20px
        height: 20px

    &__slider
        display: flex
        
    &__box
        width: 80vw
        min-width: 80vw
        border-radius: 10px
        border-top: 10px solid $yellow
        padding: 3rem 2rem
        margin: 0rem 10vw
        box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1)

        &--black
            border-top: 10px solid black

    &__boxBody
        margin-top: 3rem

    &__boxHeader
        position: relative

    &__headingTwo
        text-align: center
        font-weight: 500
        font-family: 'Mulish', sans-serif

    &__headingThree
        color: $yellow
        text-transform: uppercase
        text-align: center

    &__paragraph
        color: $gray
        text-align: center

    &__paragraphYellow
        color: $yellow
        font-size: 1.8rem
        font-weight: bold
        text-align: center
        font-family: 'Mulish', sans-serif

    &__paragraphPrice
        text-align: center
        font-size: 2.2rem

    &__span
        border-radius: 50px
        background-color: rgba(253, 206, 12, 0.15)
        padding: 0.5rem 2rem

    &__spanPrice
        font-size: 4.5rem

    &__buttonSpan
        padding-left: 5px

    &__button
        position: relative
        left: 50%
        transform: translateX(-50%)
        font-size: 1.4rem
        font-weight: bold
        color: $gray
        border: 2px solid rgba(156, 156, 156, 0.2)
        border-radius: 50px
        background: none
        padding: 1rem 2rem
        margin-top: 2rem
        cursor: pointer
        transition: 0.5s

        &:hover
            background-color: $yellow
            border: 2px solid $yellow
            color: white

        &--yellow
            background-color: $yellow
            border: 2px solid $yellow
            color: white
            box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1)

            &:hover
                background-color: black
                border: 2px solid black

    &__listElement
        margin: 1rem 0rem

    &__unorderList
        color: $yellow
        padding-left: 5rem

    &__unorderListParagraph
        color: black

    &__unorderListElementGray
        color: $gray

    &__linkBorder
        position: absolute
        top: 100%
        left: 0
        width: 100%
        height: 1px
        background: radial-gradient(circle, $yellow 0%, rgba(214, 223, 235, 0) 100%)

    &__plusDecoration
        display: none

    &__patternsDecoration
        display: none

.question
    position: relative
    padding: 10rem 2rem 5rem

    &__wrapper
        position: relative
        background-color: $background

    &__accordion 
        width: 100%
  
    &__item 
        width: 100%
        border: 1px solid rgba(156, 156, 156, 0.3)
        border-radius: 10px
        padding: 2rem 4rem
        margin-bottom: 2rem
        transition: 1s

        &:hover
            background-color: white
            box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1)
            
    &__itemHeader 
        position: relative
        display: flex
        align-items: center
        cursor: pointer

    &__itemHeader::after 
        content: "\002B"
        position: absolute
        right: 1rem
        width: 28px
        height: 28px
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        align-content: center
        font-size: 2rem
        border-radius: 50%
        background-color: $yellow

    &__itemBody 
        max-height: 0
        overflow: hidden
        transition: max-height 0.5s ease-out

    &__itemBodyContent 
        margin-top: 2rem

    &__headingTwo
        text-align: center
        font-weight: 500
        font-family: 'Mulish', sans-serif

    &__headingThree
        color: $yellow
        text-transform: uppercase
        text-align: center

    &__paragraphHeader
        width: 80%

    &__paragraphPrice
        text-align: center
        font-size: 2.2rem

    &__span
        border-radius: 50px
        background-color: rgba(253, 206, 12, 0.15)
        padding: 0.5rem 2rem

    &__qDecoration
        display: none

    &__plusDecoration
        display: none

.question__itemHeader.active::after 
    content: "\2212"

.about
    padding: 10rem 2rem 5rem

    &__firstArticle
        text-align: center
        margin-bottom: 5rem

    &__secoundArticle
        margin-top: 2rem

    &__box
        width: 80%
        margin: 0 20% 2rem
        padding: 2rem 0rem
        border-bottom: 1px solid rgba(156, 156, 156, 0.2)
        position: relative

    &__box::after
        content: ''
        position: absolute
        top: 0
        left: -15%
        border-left: 1px solid rgba(156, 156, 156, 0.2)
        height: 115%


    &__headingTwo
        font-weight: 500
        font-family: 'Mulish', sans-serif

    &__headingThree
        color: $yellow
        text-transform: uppercase
       
    &__paragraph
        color: $gray

    &__paragraphStory
        margin-top: 1rem
        font-size: 1.5rem
        line-height: 1.5
        color: $gray

    &__paragraphTitle
        position: relative

    &__paragraphTitle::before
        content: ''
        position: absolute
        width: 20px
        height: 20px
        top: 10%
        left: -18%
        border-radius: 50%
        background-color: $yellow
        z-index: 1
        box-shadow: 0px 0px 20px 0px #FDCE0C
        
    &__span
        border-radius: 50px
        background-color: rgba(253, 206, 12, 0.15)
        padding: 0.5rem 2rem

    &__spanColor
        color: $yellow

.contact
    display: flex
    flex-direction: column
    padding: 5rem 2rem

    &__secoundArticle
        width: 100%

    &__map
        width: 100%

    &__office
        margin: 2rem 0rem

    &__headingTwo
        font-family: 'Mulish', sans-serif
        font-size: 3rem
        font-weight: 400

    &__icon
        font-size: 2.2rem
        color: $yellow
        padding-right: 3rem

.footer
    padding: 2rem 2rem
    width: 100%
    text-align: center
    background-color: black
    color: white
        



    
        
@import "./_medium"
@import "./_large"
@import "./_keyframes"